$primary-color: white;
$bg: black;
h1 {
  color: $primary-color;
  background-color: $bg;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  overflow-x: hidden;
}
div {
  padding: 0;
}

.panel {
  position: relative;
  height: 100vh;
  width: 100%;
  &:nth-child(odd) {
    background: lightblue;
  }
}

.left,
.right {
  width: 40vh;
  height: 40vh;
  position: absolute;
  z-index: 1;
  top: 0;
}

.left {
  background-color: blue;
  left: 0;
}

.right {
  background-color: red;
  right: 0;
}
